/**/

*{
	margin:0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body{
		position: relative;
		width:100%;
		font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
	}
/*top*/
#top{
    width:100%;
    height: 60px;
    background: #168BD8;
    position:absolute;
    left: 0;
    top:0;
    z-index: 3;
}
#top .head{
	width:1000px;
	height: 60px;
	margin: 0 auto;
}
/*window*/
#window{
		width:100%;
		height: auto;
}
#window .section{
/*	height: 100%;*/
}
.section:nth-of-type(1){
    background-image:url(../img/bg0.jpg); 
}
.section:nth-of-type(2){
    background-image:url(../img/bg1.jpg); 
}
.section:nth-of-type(3){
    background-image:url(../img/bg2.jpg); 
}
.section:nth-of-type(4){
    background-image:url(../img/bg3.jpg); 
}
#window .section .container{
	width:1000px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
@keyframes cloudmove1{
	from{transform: translateX(0%);}
	to{transform: translateX(-50%);}
}
@keyframes cloudmove2{
	from{transform: translateX(0%);}
	to{transform: translateX(-80%);}
}
.section .container .cloud1{
	background: url(../img/cloud1.png) repeat;
	position: absolute;
    top: 0px;
    left: 0;
    width: 200%;
    height: 1000px;
    transition: all 0.6s ease-in-out;
    animation: cloudmove1 30s linear  infinite;
}
.section .container .cloud2{
	background: url(../img/cloud2.png) repeat;
    position: absolute;
    top: 120px;
    left: 0;
    width: 200%;
    height: 400px;
    animation: cloudmove2 35s linear infinite;
}
.section .container .cloud3{
	background: url(../img/cloud3.png) repeat;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 200%;
    height: 400px;
    animation: cloudmove2 40s linear  infinite;
}
.section:nth-child(1) .container .baidu{
	background: url(../img/launch.png);
    position: absolute;
    left: 0;
    top: 120px;
    width: 501px;
    height: 158px;
}
@keyframes move{
	from{transform: translateY(0px);opacity: 1;}
	to{transform: translateY(10px);opacity: 0.5;}
}
.section .container .feiji{
	background: url(../img/feiji.png);
	position: absolute;
	left: 295px;
    top: 100px;
	width: 119px;
    height: 78px;
    animation: move 0.5s linear infinite alternate;
}
.section .container .bings1{
	background: url(../img/bingshan1.png);
	position: absolute;
	left:-182px;
    bottom:0;
	width: 265px;
    height:175px;
    z-index: 3;
}
.section .container .bings2{
	background: url(../img/bingshan2.png);
	position: absolute;
	right:288px;
    bottom:60px;
	width: 63px;
    height: 78px;
    z-index: 3;
}
.section .container .bings3{
	background: url(../img/bingshan3.png);
	position: absolute;
	right:-129px;
    bottom:0;
	width: 260px;
    height: 175px;
    z-index: 3;
}
.section .container .chuan{
	background: url(../img/chuan.png);
	position: absolute;
	left:128px;
	bottom: 90px;
	width: 242px;
    height: 228px;
    transform: translateX(-50px);
    opacity: 0.7;
    /*animation: youmove 0.6s linear 1;
    animation-fill-mode: forwards;*/
}

.section .container .down{
	width:1366px;
    height: 126px;
    position: absolute;
    left: -182px;
    bottom:0;
    z-index: 1;
}
.section:nth-child(1) .container .down{
	background-color: rgba(0,0,100,0.3);
}
.section .container .down a{
	display: block;
	width:30px;
	height: 26px;
	position: absolute;
	bottom: 42px;
	left:50%;
	margin-left: -20px;
	z-index: 99;
	opacity: 1;
	animation: move 0.5s linear infinite alternate;
}
.section .container .zi{
    position: absolute;
    left: 55px;
    top:230px;
    font-family: 'Microsoft Yahei';
    color: #fff;
    width: 500px;
    height: 126px;
    z-index: 3;
}
.section:nth-child(1) .container .zi{
    position: absolute;
    left: 0;
    top:230px;
    font-family: 'Microsoft Yahei';
    color: #fff;
    width: 500px;
    height: 126px;
}
.section .container .zi .zuo{
	width: 66px;
    height: 125px;
    text-indent: -9999em;
    float: left;
}
.section .container .zi .you{
	margin-left: 86px;
    margin-top: 8px;
    width:400px;
    height: 118px;
}
.section .container .zi .you h4 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 48px;
    margin-bottom: 6px;
}
.section .container .zi .you p {
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 32px;
    opacity: .8;
}
/**/

/**/
/*2*/
.section:nth-child(2) .container .zi .zuo{
	background: url(../img/lingxian.png);
	transform: rotateY(-360deg);
}
.section:nth-child(2) .container .tu{
	background: url(../img/brain.png);
	width: 444px;
    height: 427px;
    position: absolute;
    right:10px;
    top:100px;
    transform: translateX(60px);
}
.section:nth-child(2) .container  .kuai{
	position: absolute;
	bottom: 0;
	z-index: 3;
}
.section:nth-child(2) .container  .kuai1{
	background: #35b568;
    left: 70px;
    width: 44px;
    height: 44px;
}
.section:nth-child(2) .container  .kuai2{
	background: #4ac179;
    left: 158px;
    width: 88px;
    height: 88px;
}
.section:nth-child(2) .container  .kuai3{
	background: #8ae75a;
    left: 246px;
    width: 44px;
    height: 44px;
}
.section:nth-child(2) .container  .kuai4{
	background: #8ae75a;
    right: 328px;
    width: 44px;
    height: 44px;
}
.section:nth-child(2) .container  .kuai5{
	background: #4ac179;
    right: 240px;
    width: 44px;
    height: 44px;
}
/*3*/
.section:nth-child(3) .container  .fang{
	position: absolute;
    z-index: 1;
}
.section:nth-child(3) .container  .fang1{
	background:#33bb9a; ;
	left: 88px;
	top: 60px;
	width: 88px;
	height: 88px;
}
.section:nth-child(3) .container  .fang2{
	background: #29a2b8;
	left: 0px;
	top: 148px;
	width:88px;
	height: 88px;
}
.section:nth-child(3) .container  .fang3{
	background: #60cf6e;
	left: 176px;
	top: 148px;
	width:88px;
	height: 88px;
}
.section:nth-child(3) .container  .fang4{
	background:#8ae75a;
	left: 88px;
	top: 236px;
	width: 176px;
	height: 176px;
}
.section:nth-child(3) .container  .fang5{
	background:#33bb9a;
	background: url(../img/square.jpg);
	left: 264px;
	top: 236px;
	width: 88px;
	height: 88px;	
}
.section:nth-child(3) .container .zi .zuo{
	background: url(../img/quanmian.png);
	transform: rotateY(-360deg);
}
.section:nth-child(3) .container .tu{
	background: url(../img/allside.png);
	width: 444px;
    height: 330px;
    position: absolute;
    right:40px;
    top:200px;
        transform: translateX(60px);
}
.section:nth-child(3) .container .down{
	background: url(../img/bg3-head.png);
}
/*4*/
.section:nth-child(4) .container  .yuan{
	background: url(../img/bubble.png);
	position: absolute;
	left: 20px;
    top: 175px;
    width: 275px;
    height: 245px;
    z-index: 0;
}
.section:nth-child(4) .container .zi .zuo{
	background: url(../img/zhuanye.png);
	transform: rotateY(-360deg);
}
.section:nth-child(4) .container .tu{
	background: url(../img/stat.png);
    width: 603px;
    height: 361px;
    position: absolute;
    right:80px;
    top:200px;
        transform: translateX(60px);
}
/**/
@keyframes youmove{
	from{transform: translateX(-50px);opacity: 0.5;}
	to{transform: translateX(2px);opacity: 1;}
}

@keyframes zuomove{
	from{transform: translateX(60px);opacity: 0.5;}
	to{transform: translateX(-10px);opacity: 1;}
}

@keyframes xuanzhuan{
	0%{transform:  rotateY(-360deg);}
	25%{transform:  rotateY(-360deg);}
	50%{transform:  rotateY(-180deg);}
	85%{transform:  rotateY(0deg);}
	100%{transform:  rotateY(0deg);}
}
#active .chuan{
	animation: youmove 0.8s linear 1;
	animation-fill-mode: forwards;
}
#active .zi{
	animation: youmove 0.8s linear 1;
	animation-fill-mode: forwards;
}
#active .tu{
	animation: zuomove 0.8s linear 1;
	animation-fill-mode: forwards;
}
#active .zi .zuo{
	animation: xuanzhuan 1.6s ease-in-out infinite 1s;
}

/**/